<div class="producto row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <img class="img-fluid" width="714" height="535" src="{{producto.imagen}}" alt="First slide">
    <br/><br/>
    <button class="btn btn-light btn-block" (click)="verProductos()">Volver</button>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 text-center">
    <h2 class="h2">{{producto.nombre}}</h2>
    <p class="text-muted">Consumición Preferente: {{producto.consumPref}} días</p>
    <p class="font-weight-bold">{{producto.descr}}</p>
    <p class="font-weight-bolder">100x100 fruta sin conservantes.</p>
    <p class="font-weight-bolder">Elaboración artesanal a fuego lento</p>
    <h5 class="text-right mr-5">Cantidad: <span class="badge badge-secondary">{{producto.cantidad}} grs.</span></h5>
    <h5 class="text-right mr-5">Precio: <span class="badge badge-secondary">{{producto.precio}}€</span></h5>
    <h5 class="h5 mt-5 text-uppercase">Puntúa nuestro producto</h5>
    <form>
      <p class="clasificacion">
        <input id="radio1" type="radio" name="estrellas" value="5">
        <label for="radio1">★</label>
        <input id="radio2" type="radio" name="estrellas" value="4">
        <label for="radio2">★</label>
        <input id="radio3" type="radio" name="estrellas" value="3">
        <label for="radio3">★</label>
        <input id="radio4" type="radio" name="estrellas" value="2">
        <label for="radio4">★</label>
        <input id="radio5" type="radio" name="estrellas" value="1">
        <label for="radio5">★</label>
      </p>
      <input class="btn btn-outline-warning btn-sm" type="button" value="¡Puntuar!">
    </form>
  </div>
</div>
<p>
  <a class="btn btn-light" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Comentarios del Producto</a>
</p>
<div>
  <div>
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <p class="h6">Usuario</p>
        <p class="ml-3">................................</p>
        <p class="h6">Usuario</p>
        <p class="ml-3">................................</p>
        <p class="h6">Usuario</p>
        <p class="ml-3">................................</p>
      </div>
    </div>
  </div>
  <p class="mt-3">
    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Deja tu Comentario</button>
  </p>
  <div>
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <form>
          <textarea placeholder="Deja aquí tu comentario" rows="5" cols="100"></textarea><br/>
          <input class="btn btn-light btn-sm" type="submit" value="Enviar"/>
        </form>
      </div>
    </div>
  </div>
</div>
