<div class="producto row">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <img class="" width="714" height="535" src="{{producto.imagen}}" alt="First slide">
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 text-center">
    <h2 class="h2">{{producto.nombre}}</h2>
    <p class="font-weight-light">Consumición Preferente: {{producto.consumPref}} días</p>
    <p class="font-weight-bold">{{producto.descr}}</p>
    <p class="font-weight-bolder text-right">Cantidad: {{producto.cantidad}} grs.</p>
    <p class="font-weight-bolder text-right">Precio: {{producto.precio}}€</p>


  </div>
</div>
