<nav class="navbar navbar-expand-lg navbar-light fixed-top text-right">
  <a [routerLink]="['inicio']">
    <img src="assets/img/icon.png" width="50" height="50" class="d-inline-block align-top img-fluid" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['productos']">Productos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['perfil']">Perfil</a>
      </li>
      <div class="dropdown show nav-item ">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="assets/img/usuario.png" class="img-fluid" alt="logo">
        </a>
        <div class="dropdown-menu" routerLinkActive="active">
          <form class="px-4 py-3" autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
            <div class="form-group">
              <label for="inputUserSesion">Usuario</label>
              <input type="text"
                     class="form-control"
                     id="inputUserSesion"
                     placeholder="Usuario"
                     name="usuario"
                     required="required"
                     formControlName="usuario"
                     [class.is-invalid]="!valido('usuario')">
              <small class="form-text text-danger" *ngIf="!valido('usuario')">
                Debe contener mínimo 5 caracteres.
              </small>
            </div>
            <div class="form-group">
              <label for="inputPasswordSesion">Contraseña</label>
              <input type="password"
                     class="form-control"
                     id="inputPasswordSesion"
                     placeholder="Contraseña"
                     name="contrasena"
                     required="required"
                     formControlName="pass1"
                     [class.is-invalid]="!valido('pass1')">
              <small class="form-text text-danger" *ngIf="!valido('pass1')">
                Debe contener mínimo 8 caracteres y máximo 20.
              </small>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="dropdownCheck">
              <label class="form-check-label" for="dropdownCheck">
                Recuérdame
              </label>
            </div>
            <button type="submit" class="btn btn-light ml-5 mt-3">Inciar Sesión</button>
          </form>
          <div class="dropdown-divider"></div>
          <button type="button" class="btn btn-primary regis dropdown-item" data-toggle="modal" data-target="#exampleModal">
            ¿Has olvidado la contraseña?
          </button>
          <button type="button" class="btn btn-primary regis dropdown-item" [routerLink]="['formulario']">
            ¿No tienes cuenta? Regístrate
          </button>
        </div>
      </div>
    </ul>
    <form class="buscador form-inline" onsubmit="return false">
      <input class="form-control mr-2" type="search" placeholder="Buscar producto" aria-label="Search" (keyup.enter)="buscarProducto(buscarTexto.value)" #buscarTexto>
      <div class="input-group-append">
        <button class="btn" type="button" (click)="buscarProducto(buscarTexto.value)">Buscar</button>
      </div>
    </form>
  </div>
</nav>
<br/>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Cambio de contraseña</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #FFB454">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [formGroup]="forma">
          <label for="inputEmailContra">Introduce tu correo</label>
          <input type="email"
                 class="form-control"
                 id="inputEmailContra"
                 placeholder="ejemplo@ejemplo.com"
                 name="email"
                 required="required"
                 formControlName="email"
                 [class.is-invalid]="!valido('email')">
          <small class="form-text text-danger" *ngIf="!valido('email')">
            Ejem: ejemplo@ejemplo.ejm
          </small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-light">Enviar Correo</button>
      </div>
    </div>
  </div>
</div>
