nav{
  background-color: #FFB454;
}

.navbar-brand{
  margin-right: 5rem;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 1.2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: 50px;
}

.dropdown-menu{
  background-color: #282828;
  color: white;
}

.regis{
  color: white;
}

.regis:hover{
  background-color: white;
  color: #282828;
}

.modal-content{
  background-color: #282828;
  color: white;
}
